#header4-s H1 {
  font-size: 32px;
}
#header4-s P {
  font-size: 20px;
}
#slider-z P {
  font-size: 18px;
}
#header3-b H3 {
  text-align: center;
  font-size: 72px;
  color: #252525;
}
#header3-b P {
  text-align: center;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #d81c7a;
}
#menu-0 .mbr-navbar__section {
  background: #d81c7a;
}
#menu-0 .mbr-navbar__hamburger {
  color: #d81c7a;
}
#menu-0 .mbr-brand__name a {
  font-size: 21px;
}
#features1-g P {
  text-align: center;
  color: #252525;
}
#features1-g .mbr-section__col .mbr-header__text {
  font-size: 23px;
  color: #252525;
}
#features1-g .btn {
  font-size: 16px;
}
#msg-box2-4n .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-4n .mbr-article {
  color: #252525;
}
#contacts1-w P {
  color: #ffffff;
  font-size: 14px;
}
#contacts1-w UL {
  color: #ffffff;
}
#slider-37 H1 {
  font-size: 60px;
  text-align: left;
}
#features1-3a .mbr-section-title .mbr-header__text {
  font-size: 60px;
}
#features1-3a .mbr-section__col .mbr-header__text {
  font-size: 36px;
  text-align: left;
}
#features1-3a .btn {
  font-size: 16px;
}
#features1-3i .mbr-section-title .mbr-header__text {
  font-size: 60px;
}
#features1-3i .mbr-section__col .mbr-header__text {
  font-size: 36px;
  text-align: left;
}
#features1-3i .btn {
  font-size: 16px;
}
#msg-box3-3b .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 14px;
}
#msg-box3-3b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3b .mbr-article P {
  text-align: center;
  font-size: 36px;
}
#menu-3c .mbr-brand__name {
  font-size: 16px;
}
#menu-3c.mbr-navbar--stuck .mbr-navbar__section {
  background: #d81c7a;
}
#menu-3c .mbr-navbar__section {
  background: #d81c7a;
}
#menu-3c .mbr-navbar__hamburger {
  color: #d81c7a;
}
#menu-3c .mbr-brand__name a {
  font-size: 21px;
}
#slider-3j H1 {
  font-size: 60px;
  text-align: left;
}
#features1-3k .mbr-section-title .mbr-header__text {
  font-size: 60px;
}
#features1-3k .mbr-section__col .mbr-header__text {
  font-size: 36px;
  text-align: left;
}
#features1-3k .btn {
  font-size: 16px;
}
#features1-3l .mbr-section-title .mbr-header__text {
  font-size: 60px;
}
#features1-3l .mbr-section__col .mbr-header__text {
  font-size: 36px;
  text-align: left;
}
#features1-3l .btn {
  font-size: 16px;
}
#menu-3n .mbr-brand__name {
  font-size: 16px;
}
#menu-3n.mbr-navbar--stuck .mbr-navbar__section {
  background: #d81c7a;
}
#menu-3n .mbr-navbar__section {
  background: #d81c7a;
}
#menu-3n .mbr-navbar__hamburger {
  color: #d81c7a;
}
#menu-3n .mbr-brand__name a {
  font-size: 21px;
}
#features1-3o .mbr-section-title .mbr-header__text {
  font-size: 60px;
}
#features1-3o .mbr-section__col .mbr-header__text {
  font-size: 36px;
  text-align: left;
}
#features1-3o .btn {
  font-size: 16px;
}
#features1-3p .mbr-section-title .mbr-header__text {
  font-size: 60px;
}
#features1-3p .mbr-section__col .mbr-header__text {
  font-size: 36px;
  text-align: left;
}
#features1-3p .btn {
  font-size: 16px;
}
#msg-box3-3m .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 14px;
}
#msg-box3-3m .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3m .mbr-article P {
  text-align: center;
  font-size: 36px;
}
#slider-3q H1 {
  font-size: 60px;
  text-align: left;
}
#features1-3r .mbr-section-title .mbr-header__text {
  font-size: 60px;
}
#features1-3r .mbr-section__col .mbr-header__text {
  font-size: 36px;
  text-align: left;
}
#features1-3r .btn {
  font-size: 16px;
}
#features1-3s .mbr-section-title .mbr-header__text {
  font-size: 60px;
}
#features1-3s .mbr-section__col .mbr-header__text {
  font-size: 36px;
  text-align: left;
}
#features1-3s .btn {
  font-size: 16px;
}
#menu-3t .mbr-brand__name {
  font-size: 16px;
}
#menu-3t.mbr-navbar--stuck .mbr-navbar__section {
  background: #d81c7a;
}
#menu-3t .mbr-navbar__section {
  background: #d81c7a;
}
#menu-3t .mbr-navbar__hamburger {
  color: #d81c7a;
}
#menu-3t .mbr-brand__name a {
  font-size: 21px;
}
#msg-box3-3w .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 14px;
}
#msg-box3-3w .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3w .mbr-article P {
  text-align: center;
  font-size: 36px;
}
#msg-box2-46 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-46 .mbr-article {
  color: #252525;
}
#menu-44 .mbr-brand__name {
  font-size: 16px;
}
#menu-44.mbr-navbar--stuck .mbr-navbar__section {
  background: #d81c7a;
}
#menu-44 .mbr-navbar__section {
  background: #d81c7a;
}
#menu-44 .mbr-navbar__hamburger {
  color: #d81c7a;
}
#menu-44 .mbr-brand__name a {
  font-size: 21px;
}
#msg-box3-47 .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 14px;
}
#msg-box3-47 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-47 .mbr-article P {
  text-align: center;
  font-size: 36px;
}
#slider-49 H1 {
  font-size: 60px;
  text-align: left;
}
#menu-4c .mbr-brand__name {
  font-size: 16px;
}
#menu-4c.mbr-navbar--stuck .mbr-navbar__section {
  background: #d81c7a;
}
#menu-4c .mbr-navbar__section {
  background: #d81c7a;
}
#menu-4c .mbr-navbar__hamburger {
  color: #d81c7a;
}
#menu-4c .mbr-brand__name a {
  font-size: 21px;
}
#content1-4h P {
  text-align: left;
}
#content1-4m P {
  text-align: left;
}
